<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.percetakan_witra">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.View_Cetak"/>
        <activity android:name=".Rating"/>
        <activity android:name=".Profil.Data_Profil"></activity>
        <activity android:name=".Bukti_Pesanan"/>
        <activity android:name=".Keranjang.keranjang"/>
        <activity android:name=".List_Data.List_data"/>
        <activity android:name=".Informasi.Informasi"/>
        <activity android:name=".Input.Input_Pesanan"/>
        <activity android:name=".LOGIN.Register"/>
        <activity android:name=".Menu">



            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".LOGIN.Login"/>



    </application>

</manifest>